* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background: url(./img/underwater.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* heading */
.logo img {
  width: 40px;
  border-radius: 50%;
  margin: 20px;
}

.sign-in {
  border: 1px solid white;
  font-size: 14px;
  padding: 5px 20px;
  background-color: transparent;
  border-radius: 50px;
  color: white;
  position: absolute;
  right: 30px;
  top: 30px;
  transition: 1s;
}

.sign-in:hover {
  background-color: #34b7e7;
  color: white;
}

/* Welcome-message */
.welcome-text {
  position: absolute;
  left: 161px;
  top: 120px;
  width: 476px;
  text-shadow: 0px 0px 10px #0fade7, 0px 0px 5px #0fade7;
}

h1 {
  font-size: 57px;
}

.p1 {
  margin-top: 10px;
  font-size: 14px;
}

.p2 {
  margin-top: 10px;
}

.main-btn {
  position: absolute;
  left: 301px;
  background: transparent;
  width: 235px;
  padding: 7px;
  border: 2px solid white;
  border-radius: 30px;
  transition: 1s;
}

.main-btn:hover {
  background-color: #34b7e7;
  color: white;
}

/* Fish -Section */
.fish {
  width: 80px;
  height: 50px;
  position: absolute;
}
/* Fish-one */
.one {
  position: absolute;
  top: 30px;
  animation: fish1 10s linear 2s infinite;
}

@keyframes fish1 {
  0% {
    right: 0px;
  }
  70% {
    right: 70%;
    transform: translateY(70px);
  }
  100% {
    right: 90%;
  }
}
/* Fish-two */
.two {
  animation: fish2 10s 2s infinite;
  animation-delay: 0.5s;
  position: absolute;
  top: 100px;
}
@keyframes fish2 {
  0% {
    left: 0px;
  }
  30% {
    left: 30%;
    transform: translateY(90px);
  }
  50% {
    left: 50%;
    transform: translateX(50px);
  }
  100% {
    left: 90%;
  }
}
/* Fish-three */
.three {
  animation: fish3 10s 1s infinite;
  animation-delay: 1s;
  position: absolute;
  top: 250px;
}
@keyframes fish3 {
  0% {
    right: 0px;
  }
  40% {
    right: 70%;
    transform: translateY(100px);
  }
  100% {
    right: 100%;
  }
}
/* Fish-four */
.four {
  animation: fish4 10s 2s infinite;
  animation-delay: 0.2s;
  position: absolute;
  top: 350px;
}

@keyframes fish4 {
  0% {
    left: 0;
    transform: translateY(80px);
  }
  20% {
    left: 20%;
    transform: translateY(0px);
    transform: rotate(21deg);
  }
  80% {
    left: 80%;
    transform: translateY(80px);
  }
  100% {
    left: 90%;
    transform: translateY(0px);
  }
}

/* Bubble Section */

.bubble {
  width: 50px;
  bottom: 0px;
  position: absolute;
}
/* Bubble-one */
.bone {
  left: 10%;
  animation: b1 5s 1s infinite;
}
@keyframes b1 {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 30%;
    opacity: 0.5;
  }
  100% {
    bottom: 50%;
    opacity: 0.2;
  }
}

/* Bubble-two */
.btwo {
  left: 30%;
  animation: b1 7s 2s infinite;
}
@keyframes b2 {
  0% {
    bottom: 0px;
    opacity: 0.9;
  }
  50% {
    bottom: 30%;
    opacity: 0.5;
  }
  100% {
    bottom: 50%;
    opacity: 0.2;
  }
}
/* Bubble-three */
.bthree {
  left: 50%;
  animation: b3 6s 3s infinite;
}

@keyframes b3 {
  0% {
    bottom: 30%;
    opacity: 0.5;
  }
  100% {
    bottom: 50%;
    opacity: 0.2;
  }
}

/* Bubble-four */
.bfour {
  left: 68%;
  animation: b3 2s 3s infinite;
}

@keyframes b4 {
  0% {
    bottom: 50%;
    opacity: 0.3;
  }
  100% {
    bottom: 80%;
    opacity: 0.2;
  }
}

/* Bubble-five */
.bfive {
  left: 85%;
  animation: b5 2s 0.5s infinite;
}

@keyframes b5 {
  0% {
    bottom: 10px;
    opacity: 0.3;
  }
  100% {
    bottom: 80%;
    opacity: 0.2;
  }
}
/* Bubble-six */
.bsix {
  left: 30%;
  animation: b6 2s 1s infinite;
}
@keyframes b6 {
  0% {
    bottom: 0px;
    opacity: 0.3;
  }
  100% {
    bottom: 80%;
    opacity: 0.2;
  }
}
/* bubble-seven */
.bseven {
  left: 68%;
  animation: b7 2s 0.8s infinite;
}
@keyframes b7 {
  0% {
    bottom: 0px;
    opacity: 0.3;
  }
  100% {
    bottom: 80%;
    opacity: 0.2;
  }
}
